.about {
   @extend %content;

   h2 {
      color: $color2;
   }

   .container {
      justify-content: space-between;



      .about__item {
         @extend %div;
         padding-right: 10px;
      }

      @include phone {
         flex-direction: column;
      }

      &>div {
         @include tablet {
            width: 309px;
         }

         @include phone {
            width: 100%;
            text-align: center;
            margin: 33px 0;
         }
      }
   }

}