.app2 {
   @include bg('../img/pic02.jpg');
   @extend %content;

   .container {
      justify-content: flex-end;

      .about__item {
         @extend %div;
      }

      @include tablet {
         justify-content: center;
      }
   }

   h2 {
      color: $color3;
   }

   &__item {
      max-width: 404px;

      @include tablet {
         width: 422px;
         text-align: center !important;
      }

      @include phone {
         width: 384px;
      }
   }
}