.header {
   background: linear-gradient(90deg, $color4 10.63%, $color1 88.13%);
   color: $color3;
   min-height: 512px;

   @include tablet {
      min-height: 1024px;
   }

   @include phone {
      min-height: 896px;
   }



   // @extend %content;

   h2 {
      font-size: 50px;
      line-height: 118%;
      letter-spacing: 10%;
      text-transform: none;
   }
}

.header__title {
   width: 90%;
   max-width: 940px;
   margin-top: 40px !important;
   margin: 0 auto;

   @include tablet {
      max-width: 648px;
      min-height: 228px;
      margin-top: 188px !important;
   }

   @include phone {
      max-width: 384px;
      margin-top: 179px !important;
   }
}

.header__logo {
   @include tablet {
      min-width: 196px;
      min-height: 42px;
      margin: 0 auto;
      display: flex;
      justify-content: center;

   }

   & img {
      @include tablet {
         margin: 80px 0 49px 0;
      }
   }
}

.header__list {
   @include tablet {
      max-width: 422px;
      max-height: 54px;
      margin: 0 auto;
   }
}

.container__header {
   margin: 0 auto;
   width: 90%;
   height: 150px;
   max-width: 940px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   @include tablet {
      max-width: 648px;
      display: block;
   }

   @include phone {
      max-width: 384px;
   }

   ul {
      display: flex;

      @include tablet {
         justify-content: space-between;
      }

      @include phone {
         display: none;
      }

   }

   li {
      text-decoration: none;
      list-style: none;
      margin-left: 69px;
      text-transform: uppercase;

      a {
         font-size: 16px;
         letter-spacing: 10%;
         color: $color3;
         text-decoration: none;

         &:hover {
            line-height: 118%;

            &::after {
               display: block;
               content: ' ';
               width: 60px;
               height: 1px;
               background-color: $color3;
            }
         }
      }
   }
}

hr {
   width: 90%;
   max-width: 940px;
   height: 2px;
   color: $color3;
   margin: 0 auto;

   @include tablet {
      max-width: 648px;
   }

   @include phone {
      max-width: 384px;
   }
}